body {
  background-color: #FF6392;
}

.app {
  text-align: center;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

.appHeader {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}